/books/
/homeworks/homework-1/*.tex
/homeworks/homework-1/*.pptx
/homeworks/homework-1/*.png
/homeworks/homework-1/*.gz
/homeworks/homework-2/*.py
/labs/.ipynb_checkpoints
/papers/*.pdf
/homeworks/homework-2/*.tex
/homeworks/homework-2/*.png