/books/
/homeworks/homework-1/*.tex
/homeworks/homework-1/*.pptx
/homeworks/homework-1/*.png
/homeworks/homework-1/*.gz
/homeworks/homework-1/*.aux
/homeworks/homework-1/*.out
/homeworks/homework-1/*.log
/labs/.ipynb_checkpoints
/papers/*.pdf
/homeworks/homework-2/*.tex
/homeworks/homework-2/*.png
/homeworks/homework-2/*.gz
/homeworks/homework-2/*.aux
/homeworks/homework-2/*.out
/homeworks/homework-2/*.log
/homeworks/homework-3/*.tex
/homeworks/homework-3/*.png
/homeworks/homework-3/*.gz
/homeworks/homework-3/*.aux
/homeworks/homework-3/*.out
/homeworks/homework-3/*.log
/homeworks/homework-4/*.tex
/homeworks/homework-4/*.png
/homeworks/homework-4/*.gz
/homeworks/homework-4/*.aux
/homeworks/homework-4/*.out
/homeworks/homework-4/*.log
/homeworks/homework-4/*.txt
/homeworks/homework-4/calc.py
/homeworks/homework-5/*.tex
/homeworks/homework-5/*.png
/homeworks/homework-5/*.gz
/homeworks/homework-5/*.aux
/homeworks/homework-5/*.out
/homeworks/homework-5/*.log
/homeworks/homework-6/*.tex
/homeworks/homework-6/*.png
/homeworks/homework-6/*.gz
/homeworks/homework-6/*.aux
/homeworks/homework-6/*.out
/homeworks/homework-6/*.log
/homeworks/homework-6/*.txt